@model Music_Store.Models.Singer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Singer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SingerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SingerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDay)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SingerID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
