@model IEnumerable<Music_Store.Models.Song>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
 
<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table" style="border-collapse: collapse; border: 1px solid black;" >
    <thead style="background-color:Blue;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SongName)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                @Html.DisplayFor(modelItem => item.SongName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SongID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SongID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SongID">Delete</a> |
                    <a asp-action="AddSingerForSong" asp-route-id="@item.SongID">AddItem</a>
                </td>
            </tr>
}
    </tbody>
</table>
